[Unit]
Description=uWSGI Emperor service
After=network.target

[Service]
User=mob_app_usr
Restart=always
ExecStart=/home/mob_app_usr/env/env/bin/uwsgi --emperor /home/mob_app_usr/env/env/vassals --uid www-data --gid www-data
RuntimeDirectory=uwsgi
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target